# Scanner Bridge Download Links
VITE_SCANNER_BRIDGE_DOWNLOAD_MACOS=https://github.com/ohcnetwork/care_scanner_bridge/releases/latest/download/care-scanner-bridge-macos.dmg
VITE_SCANNER_BRIDGE_DOWNLOAD_WINDOWS=https://github.com/ohcnetwork/care_scanner_bridge/releases/latest/download/care-scanner-bridge-setup.exe
VITE_SCANNER_BRIDGE_DOWNLOAD_LINUX=https://github.com/ohcnetwork/care_scanner_bridge/releases/latest/download/care-scanner-bridge-linux.AppImage
VITE_SCANNER_BRIDGE_GITHUB=https://github.com/ohcnetwork/care_scanner_bridge/releases
